html {
	scroll-behavior: smooth;
}

.about {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	height: 160px;
}

.service {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	height: 160px;
}

.portfolio {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	height: 160px;
}

.contact {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	height: 160px;
}

.jumbotron {
	background-image: url('image/13g.jpg');
	background-size: cover;
	height: 620px;
	margin-top: 30px;
}

.jumbotron .display-4 {
	margin-top: -40px;
	margin-left: 510px;
	font-size: 42px;
	font-weight: bold;
}

.jumbotron .lead {
	margin-top: -50px;
	margin-left: 540px;
}

.jumbotron hr {
	margin-left: 540px;
	margin-right: 40px;
}

.jumbotron .btn {
	margin-left: 950px;
}

.card {
	width: 20rem;
	margin-top: -150px;
	margin-left: 50px;
}

.card .display-4 {
	font-size: 35px;
}

hr {
	width: 100px;
	border-top: 3px solid #eaeaea;
	margin-top: -55px;
}

.col-md-3 img {
	margin-left: 75px;
	margin-top: 30px;
}
.testimonial {
	;
}